<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="toplam" value="0"/>
  </appSettings>
  <!--connection string sifreleencek-->
  <connectionStrings>
   <add name="sql" connectionString="Server=mssql03.turhost.com;Database=enverinkoddefteri;User Id=nwher;Password=Enver.1994"/>
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <sessionState timeout="60">
    </sessionState>
      <customErrors mode="Off" />
  <pages maintainScrollPositionOnPostBack="true">
    <controls>
      <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
    </controls>
	</pages>
    <trace enabled="false" localOnly="true" />
    <httpRuntime enableHeaderChecking="false" enableVersionHeader="false"  maxRequestLength="10240" maxUrlLength="250" />
  </system.web>
  <system.webServer>

    <caching>
      <profiles>
        <add extension=".png" policy="CacheUntilChange"   varyByHeaders="User-Agent" location="Client"/>
        <add extension=".gif" policy="CacheUntilChange"  varyByHeaders="User-Agent" location="Client"/>
        <add extension=".jpg" policy="CacheUntilChange" varyByHeaders="User-Agent" location="Client"/>
        <add extension=".js" policy="CacheUntilChange" varyByHeaders="User-Agent" location="Client"/>
        <add extension=".css" policy="CacheUntilChange" varyByHeaders="User-Agent" location="Client"/>
        <add extension=".axd"  kernelCachePolicy="CacheUntilChange" varyByHeaders="User-Agent" location="Client"/>
      </profiles>
    </caching>
      <httpProtocol allowKeepAlive="true">

        <customHeaders >
          <remove name="X-Powered-By" /> 
          <remove name="Server" />
          <remove name="X-AspNet-Version" /> 
          <add name="X-FRAME-OPTIONS" value="DENY" />
          <add name="Cache-Control" value="public, max-age=691200"/>
     
        </customHeaders>
      </httpProtocol>

    <security>

      <requestFiltering>

        <verbs  allowUnlisted="true" >

          <add verb="GET" allowed="true"/>

          <add verb="POST" allowed="true" />
         

        </verbs>

      </requestFiltering>

    </security>
   
    </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>