body 
{
    background-color:#a8a8a8;
}

#menu 
{
    list-style:none;

}
    #menu li 
    {
        float: left;
        margin-left:10px;
    }
        #menu li a 
        {  
            text-decoration:none;
            display:block;
            font-size:24px;
        }
            #menu li a:hover 
            {
                 text-decoration:none;
                 display:block;
                 color:#ff6a00;
                 font-size:24px;
            }